body{
    font-family: 'Poppins', sans-serif;
    margin: 0;

}
.flexable-contaner{
    display: flex;
    margin-bottom: 150px;
}
h1{
    font-size: 40px;
}
.first-page{
    background-image: url(/images/top-banner.png);
    background-repeat: no-repeat;
    
    padding: 25px;
}
.half-width{
    width: 50%;
    padding-left: 5%;

}
.img1{
    width: 600px;

}
.color{
    color: darkorange;
}
.btn{
    background-image: linear-gradient(orange,red);
    text-decoration: none;
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: bold;
    
}
.second-page{
    background-image: url(/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    padding:25px;
    
}
.third-page{
    background-image: url(/images/exp-bg.png);
    background-repeat: no-repeat;
    background-position:left;
}
.img2{
    width: 700px;
  
    
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px gray;
    padding: 15px;
    border-radius: 10px;
  
}
.border-red{
    border-left: 5px solid;
     border-image:linear-gradient(orange,red); 
     border-image-slice: 1;
}
.border-blue{
    border-left: 5px solid;
     border-image:linear-gradient(blue,tomato); 
     border-image-slice: 1;
    
}
footer {
    text-align:center;
    margin-bottom: 20px;

}